<%# Write your code here! %>
<h1>Welcome!</h1>
<h2>If you tell me your name, I can say hi!</h2>
<form>
  <label for="enter-name">Name:</label>
  <input type="text" id="enter-name" name="enter-name" action="./greet.erb">
  <input type="submit">Submit</input>
</form>